  /* Color de fondo */
body{
    background-color: white;
    animation: backgroundColor 900s infinite;
    
}

/* Titulo */
#titulo{
    cursor: default;
    color: #637189;
    animation: textColor 900s infinite;
    letter-spacing: 5px;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    background-color: #637189;
    animation: dividerColor 900s infinite;
    
    opacity: 0.5;
}

/*  Pie de pagina */
footer{
    cursor: default;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #637189;
    animation: textColor 900s infinite;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    display: flex;
    justify-content: center;
    
}

/* Busqueda de fechas */
#picker{
  background-color: #637189;
  color: #ffffff;
  animation: buttonColor 900s infinite;
  letter-spacing: 5px;
  padding-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  width:50%;
}


/* Botones de perfil/salir */
#menu{
    display: flex;
    justify-content: flex-end;
    width:100%;
}

/* Header */
header{
    display: flex;
    justify-content: baseline;
    
}

/*  botones */
button{
    background-color: #637189;
    animation: buttonColor 900s infinite;

    
}


/* boton de salida */
#exit{
    background-image: url();
    cursor: pointer;
    border: none;
    margin-right: 10px;
    width: 70px;
    border-radius: 100%;
    height: 80%;
    margin-top: 15px;
    color: #ffffff;
   
}
button:hover{
    opacity: .8;
}

/* boton de perfil */
#profile{
    cursor: pointer;
    margin-right: 20px;
    width: 70px;
    height: 80%;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    color: #ffffff;
}


/* username data */
#username{
    cursor: default;
    color: #637189;
    animation: textColor 900s infinite;
    
    letter-spacing: 2px;
    margin-top: 30px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
}

/* Menu para desplazarse por dias */
.fechas {
    display: flex;
    justify-content: center;
    cursor: default;
    width: 100%;
    text-align: center;
    padding-top: 35px;

    color: #637189;
    animation: textColor 900s infinite;
    letter-spacing: 2.5px;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* boton derecho */
  .next {
    background-image: url();
    cursor: pointer;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
    border-radius: 15px;
    height: 80%;
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
    margin-top: 2px;
  }

  /* contenedor del texto principal */
#journalContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

/* Texto del diario */
textarea{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 100%;
    border-radius: 30px;
    font-family: "Courier New", Courier, monospace;
    width: 98%;
    background-color: #b3d0d8;
    animation: textAreaColor 900s infinite;
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
    border: none;
    cursor: text;
    outline: none;
}
::placeholder{
    color: white;
}

footer{
  display: flex;
  flex-wrap: wrap;
}

  /* animacion titulo */

  .line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2.5s steps(32) 2s 1 normal both,
             blinkTextCursor 500ms steps(32) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #637189;}
  to{border-right-color: transparent;}
}

/* Color Animation */

@keyframes backgroundColor {
    
  16%{background-color: #ffffff;}
  48%{background-color: #ffffff;}
  49%{background-color:#9ad5e3;}
  81%{background-color:#9ad5e3;}
  82%{background-color:#637189;}
  99%{background-color:#637189;}
  100%{background-color: #ffffff;}
}

@keyframes dividerColor {
    16%{background-color: #637189;}
    48%{background-color: #637189;}
    49%{background-color:#5f97a9;}
    81%{background-color:#5f97a9;}
    82%{background-color:rgb(26, 26, 26);}
    99%{background-color:rgb(26, 26, 26);}
    100%{background-color: #637189;}
  }

@keyframes textAreaColor {
    16%{background-color: #b3d0d8;}
    48%{background-color: #b3d0d8;}
    49%{background-color:#5f97a9;}
    81%{background-color:#5f97a9;}
    82%{background-color:#bed1e2;}
    99%{background-color:#bed1e2;}
    100%{background-color: #b3d0d8;}
}

@keyframes textColor {
    16% {color: #637189;}
    48% {color: #637189;}
    49%{color:#ffffff;}
    81%{color:#ffffff;}
    82%{color:#ffffff;}
    99%{color:#ffffff;}
    100% {color: #637189;}

 }

 @keyframes buttonColor {
    16% {
        background-color: #637189;
        color: #ffffff;}
    48% {
        background-color: #637189;
        color: #ffffff;}
    49%{
        background-color:#ffffff;
        color:#637189;}
    81%{
        background-color:#ffffff;
        color:#637189;}
    82%{
        background-color: #bed1e2;
        color:#ffffff;}
    99%{
        background-color: #bed1e2;
        color:#ffffff;}
    100% {
        background-color: #637189;
        color:#ffffff;}
 }

 @media (max-width: 700px){
  #titulo{
    display: none;
  }

  #menu{
    display: flex;
    justify-content: space-evenly;
  }

  .fechas{
    margin-top: -35px;
    display: flex;
    justify-content: flex-end;
    margin-right: -40px;
  }

  #exit{
    width: 70px;
    height: 70px;
    margin-right: 0px;
  }
  #profile{
    width: 70px;
    height: 70px;
    margin-right: 0px;
    margin-left: -25%;
  }

  #picker{
    background-color: #637189;
    color: #ffffff;
    animation: buttonColor 900s infinite;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    
  }
}